@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@font-face {
    font-family: PixeloidSans;
    src: url(../Assets/PixeloidSans.ttf);
}

*, * ::before, * ::after {
    box-sizing: border-box;
}

body {
    padding:0;
    margin:0;
    background-color: #D3D1FF;
    font-family: Inconsolata, Helvetica, sans-serif;
    min-height: 100vh;
}

img {
    padding: 1.5em;
}

a {
    text-decoration: none;
    color: #36327A;
}

a :visited{
    text-decoration: none;
    color: #36327A;
}

p {
    color: #7A76D8;
    padding: 1.5em;
}

ul {
    list-style: none;
    font-size: x-large;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.body-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px
}

@media screen and (min-width: 421px) {
    .main {
        display: flex;
        padding-top: 2em;
        padding-right: 2em;
        max-height: 34em;
    }

    .general-nav ul {
        max-width: 8em;
        list-style: none;
        margin: 0;
    }

    .general-nav li {
        padding: 0em 1em 1em 0em;
    }

    .image-container-container {
        padding-left: 1.5em; 
        
    }

    .image-container-about-me {
        max-width: 28em;
        background-color: #7A76D8;
        color: #FEFFCC
    }

    img {
        max-width: inherit;
    }

    .officersF22-image {
        max-width: 17em; 
        padding-top: 0em; 
        padding-right: 0em;
    }

    .cougarCSlogo-image {
        max-width: 13em; 
        padding-top: 0em; 
        padding-left: 1em;
    }

    .wiringKeeb-image {
        padding-top: 0em;
        max-width: 15em;
    }

    .meWithKeeb-image {
        padding-top: 0em;
        padding-left: 0em;
        max-width: 15em;
    }

    .BunnyComputerEar-image {
        padding-top: 0em; 
        padding-left: 0em;
        max-width: 10em;
    }

    .fusion360Mock-image {
        padding-top: 0em; 
        max-width: 20em;
    }
}

@media screen and (max-width: 420px) {
    p {
        margin-top: 1em;
    }

    .general-nav {
        display: grid;
    }

    .general-nav ul {
        list-style: none;
        padding: 0;
        display: grid;
        row-gap: 1em;
        grid-template-columns: 6.5em 6.5em;
    }

    .general-nav li {
        padding: 0 0.5em 0;
    }

    .image-container-about-me {
        max-width: -webkit-fill-available;
        background-color: #7A76D8;
        color: #FEFFCC
    }

    .multi-text-container {
        padding:0;
    }

    img {
        max-width: -webkit-fill-available;
    }

    .officersF22-image {
        max-inline-size: 57%; 
        padding-top: 0em; 
        padding-right: 0em;
    }

    .cougarCSlogo-image {
        max-inline-size: 43%; 
        padding-top: 0em; 
        padding-left: 1em;
    }

    .wiringKeeb-image {
        padding-top: 0em;
        max-inline-size: 50%;
    }

    .meWithKeeb-image {
        padding-top: 0em;
        padding-left: 0em;
        max-inline-size: 50%;
    }

    .fusion360Mock-image {
        padding-top: 0em;
        max-inline-size: 67%;
    }

    .BunnyComputerEar-image {
        padding-top: 0em;
        padding-left: 0em;
        max-inline-size: 33%;
    }
}

.bio-text {
    margin-bottom: 0;
}

.text-title {
    font-size: xx-large;
    margin: 0;
    padding: 0.25em 0em 0.25em 0.75em;
    background-color: #7A76D8;
}

.general-nav div {
    padding: 2em;
}

.image-container {
    background-color: #7A76D8;
    max-width: 30em;
    color: #FEFFCC
}

.sub-text-container {
    display: flex;
}

.multi-image-container {
    display: flex;
}

.skill-list {
    list-style: none;
    font-weight: bold;
    font-size: small;
}